{% extends "base.html" %}

{% block announce %}
This lesson is under active development and considered pre-alpha.
{% endblock %}

{% block site_meta %}
{{ super() }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LearningResource",
    "@id": "https://elixir-europe-training.github.io/ELIXIR-TrP-FAIR-Material-By-Design/",
    "http://purl.org/dc/terms/conformsTo": {
        "@type": "CreativeWork",
        "@id": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE"
    },
    "description": "ELIXIR Lesson: FAIR training material by Design",
    "keywords": "FAIR, OPEN, Bioinformatics, Teaching",
    "name": "ELIXIR Lesson: FAIR training material by Design",
    "license": "https://creativecommons.org/licenses/by/4.0/",
    "educationLevel": "beginner",
    "competencyRequired": "github",
    "teaches": ["FAIRness of training material", "Markdown", "FAIRness of images and videos", "AI tools for content creation"]
}
</script>
{% endblock %}

