# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: ELIXIR FAIR Material by Design
nav:
    - About: index.md
    - Course Content:
      - "1. What is FAIR and why do I care?": chapters/chapter_01.md
      - "2. Planning and Designing a FAIR training": chapters/chapter_02.md
      - "3. How to host your training": chapters/chapter_03.md
      - "4. Training material formats and interoperability": chapters/chapter_04.md
      - "5. Acknowledgements, a comprehensive perspective": chapters/chapter_05.md
      - "6. Put on your producer hat: considerations for FAIR video material": chapters/chapter_06.md
      - "7. Metadata and Findability": chapters/chapter_07.md
      - "8. Releases and use of unique identifiers": chapters/chapter_08.md
      - "References": chapters/references.md
    - "Follow up training": follow_up_training.md

theme:
  name: material
  logo: assets/images/white-orange-logo.png
  favicon: assets/images/elixir_favicon.ico
  custom_dir: overrides
  features:
    - navigation.top
    - navigation.footer
    - toc.integrate
  font: 
    text: Lato

# Repository
repo_name: elixir-europe-training/ELIXIR-TrP-FAIR-Material-By-Design
repo_url: https://github.com/elixir-europe-training/ELIXIR-TrP-FAIR-Material-By-Design
edit_uri: edit/main/docs/

plugins:
  - tags:
      tags_file: keywords.md
  - search
  - mkdocs-video # embed videos to the docs
  - bibtex:
      bib_file: "references.bib"

  
# Footer
copyright: By the ELIXIR Training Platform

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc:
      toc_depth: 3
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - neoteroi.cards


extra_css:
  - stylesheets/extra.css
  - stylesheets/neoteroi-mkdocs.css

